@model Cumulative2.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<a style="color:red" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete</a>

<h2>@Model.TeacherfName @Model.TeacherlName</h2>
<p>Teacher ID: @Model.TeacherId</p>
<p>Employee Number: @Model.EmployeeNumber</p>
<p>Salary: @Model.TeacherSalary</p>
<p>Hire Date: @Model.TeacherHireDate</p>



